In [ ]:

Q1.#create a list of 5 integers
#Add a new element at the end of list
#remove the second element
#print the final list

In [4]:
#create a list of 5 integer
my_list = [3,4,5,6,7]
print(my_list)

[3, 4, 5, 6, 7]

In [5]:
#Add a new element at the end of list
my_list = [ 3,4,5,6,7]
my_list.append(8)
print(my_list)

[3, 4, 5, 6, 7, 8]

In [6]:
#remove the second element
my_list =[3,4,5,6,7]
my_list.remove(4)
print(my_list)

[3, 5, 6, 7]

In [32]:
Q2.# Given a my_list=[5,2,8,1,9] write a program to:
#sort the list in ascending order
my_list = [5,2,8,1,9]
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

[1, 2, 5, 8, 9]
[9, 8, 5, 2, 1]

In [29]:
my_list = [5,2,8,1,9]
my_list=sum(my_list)
print(my_list)

25

In [87]:
#Q3.Given a tuple,colors=("red","green","blue"),write a program to:
#convert tupple into a list,
my_list =('red','green','blue',)
print(my_list)
my_list.add("yellow")
print(my_list)

('red', 'green', 'blue')

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
Q4.#Given Two Tuples1=(1,2,3) and Tuples2 =(4,5,6)
concatenate.

In [55]:
#concatenate
tuples1 = (1,2,3)
tuples2 = (4,5,6)

In [ ]:
Q5.#Given a dictionary student ={"name":"Alice","age":21,"grade":"A"}
my_dict ={"name":"Alice","age":21,"grade":"A"}
print(my_dict)
#update the age to 22

In [65]:
my_dict = {"name":"Alice","age": 21,"grade":"A"}
print(my_dict)
my_dict["age"] = 22
print(my_dict)
my_dict["course"] = "computer science"
print(my_dict)
del my_dict["grade"]
print(my_dict)

{'name': 'Alice', 'age': 21, 'grade': 'A'}
{'name': 'Alice', 'age': 22, 'grade': 'A'}
{'name': 'Alice', 'age': 22, 'grade': 'A', 'course': 'computer science'}
{'name': 'Alice', 'age': 22, 'course': 'computer science'}

In [82]:
#Q6.write a program to merge two dictionaries
dict1 ={"a":1,"b":2}
dict2 ={"c":3,"d":4}
merged_dict ={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [72]:
#Q7. Given two sets in pythons
set1 = {1,2,3,4}
set2 = {3,4,5,6}
#union set
union_set=set1.union(set2)
print("union",union_set)

#the intersection set
intersection_set=set1.intersection(set2)
print("intersection",intersection_set)

#difference set
difference_set = set1.difference(set2)
print("difference",difference_set)

union {1, 2, 3, 4, 5, 6}
intersection {3, 4}
difference {1, 2}

In [74]:
#Q8. write a programe to remove duplicatesfrom alist using a set
my_list={1,2,2,3,4,4,5}
unique_set=set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

In [81]:
#Q9.Given a list of dictionaries:
#students=[{"name":"Alice","age":21},{"name":"bob","age":20},{"name":"charlie","age":22}]
#sort the list by age age in ascending order
my_list =[21,20,22]
my_list.sort()
print(my_list)
my_list =["alice","bob","charlie"]
print(my_list)

[20, 21, 22]
['alice', 'bob', 'charlie']