# Data Structures in Python (Dictionaries and Sets)

## Dictionaries in Python

- A dictionary is an unordered collection of key-value pairs.
- Each key is unique and maps to a value.
- Dictionaries are created using curly braces {} with key-value pairs separated by colons.

### Example of a dictionary

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

In [3]:
my_dict = {'surname':'yekeen','first name':'olaitan','last name':'muideen','Religion':'muslim','gender':'male'}
print(my_dict)

{'surname': ' yekeen', 'first name': 'olaitan', 'last name': 'muideen', 'Religion': 'muslim', 'gender': 'male'}

### Accessing Values
- You can access the value associated with a key using square brackets [].

In [2]:
print(my_dict["surname"])  # Output: Alice

 yekeen

### Adding or Updating Values
- You can add a new key-value pair or update an existing one.

In [5]:
my_dict["email"] = "olayekeen19@gmail.com"  # Adds a new key-value pair
print(my_dict)

{'surname': ' yekeen', 'first name': 'olaitan', 'last name': 'muideen', 'Religion': 'muslim', 'gender': 'male', 'email': 'olayekeen19@gmail.com'}

In [6]:
my_dict["age"] = 35  # Updates the value associated with the key "age"
print(my_dict)

{'surname': ' yekeen', 'first name': 'olaitan', 'last name': 'muideen', 'Religion': 'muslim', 'gender': 'male', 'email': 'olayekeen19@gmail.com', 'age': 35}

### Removing Key-Value Pairs
- You can remove a key-value pair using the del statement or the pop() method.

In [7]:
del my_dict["gender"]
print(my_dict)

{'surname': ' yekeen', 'first name': 'olaitan', 'last name': 'muideen', 'Religion': 'muslim', 'email': 'olayekeen19@gmail.com', 'age': 35}

In [8]:
age = my_dict.pop("age")
print(my_dict)
print("Popped age:", age)

{'surname': ' yekeen', 'first name': 'olaitan', 'last name': 'muideen', 'Religion': 'muslim', 'email': 'olayekeen19@gmail.com'}
Popped age: 35

### Looping through Dictionaries
- You can loop through keys, values, or key-value pairs using a for loop.

In [9]:
for key in my_dict:
    print(key, my_dict[key])

surname  yekeen
first name olaitan
last name muideen
Religion muslim
email olayekeen19@gmail.com

In [10]:
for key, value in my_dict.items():
    print(key, value)

surname  yekeen
first name olaitan
last name muideen
Religion muslim
email olayekeen19@gmail.com

### Checking for Key Existence
- Use the in keyword to check if a key exists in the dictionary.

In [12]:
print("name" in my_dict)  # Output: True

False

In [13]:
print('surname' in my_dict)

True

In [11]:
age=35
age==50

False

### Dictionary Methods
- There are several useful methods for dictionaries, such as keys(), values(), and items().

In [14]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['surname', 'first name', 'last name', 'Religion', 'email'])
dict_values([' yekeen', 'olaitan', 'muideen', 'muslim', 'olayekeen19@gmail.com'])
dict_items([('surname', ' yekeen'), ('first name', 'olaitan'), ('last name', 'muideen'), ('Religion', 'muslim'), ('email', 'olayekeen19@gmail.com')])

In [33]:
# Practice Questions:
# 1. Create a dictionary with keys "name", "age", and "city". Add a key "email" and update the "age".
my_dict = {"name":"olaitan","age":"35","city":"ibadan"}
print(my_dict)
my_dict["email"]="olayekeen19@gmail.com"
print(my_dict)
my_dict["age"]=40
print(my_dict)
# 2. Remove the key "city" from the dictionary.
del my_dict["city"]
print(my_dict)
my_dict["city"]="ibadan"
print("my_city")
# 3. Loop through the dictionary and print each key-value pair.
for key in my_dict:
    print(key,my_dict[key])
# 4. Check if the key "name" exists in the dictionary.
print("city"in my_dict)

{'name': 'olaitan', 'age': '35', 'city': 'ibadan'}
{'name': 'olaitan', 'age': '35', 'city': 'ibadan', 'email': 'olayekeen19@gmail.com'}
{'name': 'olaitan', 'age': 40, 'city': 'ibadan', 'email': 'olayekeen19@gmail.com'}
{'name': 'olaitan', 'age': 40, 'email': 'olayekeen19@gmail.com'}
my_city
name olaitan
age 40
email olayekeen19@gmail.com
city ibadan
True

In [ ]:
#1.

## Sets in Python

- A set is an unordered collection of unique elements.
- Sets are created using curly braces {} or the set() function.

### Example of a set

In [34]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [35]:
my_set = {6,7,8,9,10}
print(my_set)

{6, 7, 8, 9, 10}

### Creating a set from a list (to remove duplicates)

In [36]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

In [37]:
my_list =[6,6,7,8,8,9,10]
unique_set=set(my_list)
print(unique_set)

{6, 7, 8, 9, 10}

### Adding and Removing Elements
- You can add an element using the add() method and remove an element using the remove() method.

In [39]:
my_set.add(11)
print(my_set)

my_set.remove(8)
print(my_set)

{6, 7, 8, 9, 10, 11}
{6, 7, 9, 10, 11}

### Set Operations
- Sets support several mathematical operations such as union, intersection, difference, and symmetric difference.

### Union: Elements present in either set

In [41]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)  # Output: {1, 2, 3, 4, 5}

Union: {1, 2, 3, 4, 5}

In [50]:
set1 = {3,4,5}
set2 = {5,6,7}
union_set=set1.union(set2)
print("union",union_set)
intersection_set=set1.intersection(set2)
print("intersetion",intersection_set)

union {3, 4, 5, 6, 7}
intersetion {5}

In [ ]:
difference_set=set1.difference_set(set2)
print("difference_set",difference_set)

### Intersection: Elements present in both sets

In [42]:
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)  # Output: {3}

Intersection: {3}

### Difference: Elements present in set1 but not in set2

In [46]:
difference_set = set1.difference(set2)
print("Difference:", difference_set)  # Output: {1, 2}

Difference: {3, 4}

### Symmetric Difference: Elements present in either set, but not both

In [78]:
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)  # Output: {1, 2, 4, 5}

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
# Practice Questions:
# 1. Create a set with elements 1, 2, 3, 4, 5. Add the element 6 and remove the element 3.
# 2. Convert a list with duplicate elements to a set to remove duplicates.
# 3. Perform union, intersection, difference, and symmetric difference operations on two sets.

In [64]:
# 1.create a set with elements 1,2,3,4,5.add the element 6and remeove the element 3
my_set = {1,2,3,4,5}
print(my_set)

my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [65]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

In [66]:
# 2.convert a lst with duplicate elements to a set to remove duplicates
my_list = [2,2,3,1,6,7,8]
unique_set=set(my_list)
print(unique_set)

{1, 2, 3, 6, 7, 8}

In [ ]:
#perform union,intersection,difference,and symmetric diiference ontwo sets.
set1={4,5,6,7,8}
set2={1,2,3,4,5}
union_set=set1.union(set2)
print("union",union_set)

In [74]:
#intersection set
intersection_set = set1.intersection(set2)
print("intersection",intersection_set)

intersection {4, 5}

In [76]:
#differece set
difference_set = set1.difference(set2)
print("difference",difference_set)

difference {8, 6, 7}

In [79]:
#symmetric differences on two sets.
symmetric_difference_set =set1.symmetric_difference(set2)
print("symmetric_difference",symmetric_difference_set)

symmetric_difference {1, 2, 3, 6, 7, 8}

### Advanced Dictionary Operations

### 1. Merging Dictionaries
- You can merge two dictionaries using the update() method or the ** unpacking operator.

In [67]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
dict1.update(dict2)
print(dict1)  # Output: {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

### Using ** unpacking operator

In [80]:
merged_dict = {**dict1, **dict2}
print(merged_dict)  # Output: {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

### 2. Dictionary Comprehension
- Dictionary comprehensions provide a concise way to create dictionaries.

In [81]:
squares = {x: x**2 for x in range(5)}
print(squares)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# Practice Questions:
# 1. Merge two dictionaries and print the result.
# 2. Create a dictionary comprehension that maps numbers from 1 to 5 to their squares.

In [82]:
#merge two dictionaries and print the result.
dict1 = {"a": 2, "b" : 3}
dict2 = {"b": 4, "c" : 5}
dict1.update(dict2)
print(dict1)

{'a': 2, 'b': 4, 'c': 5}

### Advanced Set Operations

### 1. Checking Subset and Superset
- Use issubset() and issuperset() methods to check if one set is a subset or superset of another.

In [84]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print(set_a.issubset(set_b))  # Output: True
print(set_b.issuperset(set_a))  # Output: True

True
True

### 2. Set Comprehension
- Set comprehensions provide a concise way to create sets.

In [85]:
cubes = {x**3 for x in range(5)}
print(cubes)  # Output: {0, 1, 8, 27, 64}

{0, 1, 64, 8, 27}

In [ ]:
# Practice Questions:
# 1. Check if a set {1, 2, 3} is a subset of {1, 2, 3, 4, 5}.
# 2. Create a set comprehension that contains the cubes of numbers from 0 to 4.

In [87]:
#check if a set {1,2,3} is a subset of {1,2,4,5}
set_a = {1,2,3}
set_b = {1,2,3,4,5}
print(set_a.issubset(set_b))
print(set_b.issuperset(set_a))

True
True