### Python Basic Syntax

In [15]:
# Print Statement
print("Hello, World!") 

# Comments
# This is a single-line comment
"""
This is a 
multi-line comment
"""

Hello, World!

'\nThis is a \nmulti-line comment\n'

In [17]:
#print statement [simgle-line comment
print("Hi,love")
#print statement(multi line comment)
"""
This is a 
cool environment
"""

Hi,love

'\nThis is a \ncool environment\n'

In [28]:
t = 5+4

In [26]:
T = 19+2

In [ ]:
# Practice Questions:
# 1. Write a program to print "Welcome to Python Programming".
# 2. Write comments explaining what each line of your program does.

In [30]:
#print a single line satatement
print("welcome to python programming")

welcome to python programming

In [31]:
#write comment explaining what each of your program does
"""
This ia multi like comment
"""

'\nThis ia multi like comment\n'

### Python Variables/Constants

In [32]:
# Variables
# Variables are used to store data that can be changed later. 
# In Python, you can assign a value to a variable using the assignment operator '='.

# Example of a variable:
x = 10
print("Variable x:", x)

Variable x: 10

In [33]:
#assigning of the variables 
x = 19
print("variable x:",x)

variable x: 19

In [34]:
# You can change the value of a variable by assigning a new value to it:
x = 20
print("Updated variable x:", x)

Updated variable x: 20

In [35]:
#updating of assigned variable 
x = 100
print("update variable x:",x)

update variable x: 100

In [36]:
# Constants
# Constants are used to store data that should not change throughout the program. 
# By convention, constants are usually written in all uppercase letters.

# Python does not have a built-in constant type, but you can use naming conventions to indicate that a variable should be treated as a constant.

# Example of a constant:
PI = 3.14159
print("Constant PI:", PI)

Constant PI: 3.14159

In [ ]:
# Although you can technically change the value of a constant, you should avoid doing so to prevent confusion and errors in your code.
# Example (not recommended):
PI = 3.14  # This is not recommended, as it breaks the constant convention.
print("Updated constant PI (not recommended):", PI)

In [39]:
# Practice Questions:
# 1. Create a variable `name` and assign your name to it.
name = "olaitan"
print("variable name:",name)
# 2. Define a constant `SPEED_OF_LIGHT` and assign it the value `299792458`.
SPL = 299792458
print("constant SPL:",SPL)

variable name: olaitan
constant SPL: 299792458

### Assigning / Reassigning value to a variable

In [43]:
# Assigning a value to a variable
age = 25

# Reassigning a value to a variable
age = 26

In [ ]:
age

In [46]:
# Practice Questions:
# 1. Assign the value 10 to a variable `a`, then reassign it to 15.
a = 10
print(a)
#reassigning a value to a variable
a = 15
print(a)
# 2. Create a variable `b`, assign it the value 20, then change its value to 30.

10
15

### Python Arithmetic Operators

In [48]:
a = 10
b = 3

In [50]:
# Addition
add = a + b  # 13

In [51]:
add

13

In [56]:
a = 19
b = 2
#addition
add = a + b
print(add)

21

In [57]:
print ("addition of a & b =", add)

addition of a & b = 21

In [61]:
# Subtraction
a = 19
b = 2
subtract = a - b  # 7

In [63]:
print("subtract of a - b =",subtract)

subtract of a - b = 17

In [65]:
# Multiplication
multiply = a * b  # 30
print("multiply of a*b =",multiply)

multiply of a*b = 38

In [66]:
# Division
divide = a / b  # 3.333...
print("divide of a/b=",divide)

divide of a/b= 9.5

In [67]:
# Modulo
# The modulo operator (%) returns the remainder of the division of two numbers.
# For example, 10 % 3 is 1 because 10 divided by 3 is 3 with a remainder of 1.

a = 10
b = 3
modulo_result = a % b
print("Modulo:", modulo_result)  # Output: 1

Modulo: 1

In [72]:
#the module operator (%) return the remainder of the division of two numbers
a =12
b =5
modulo_result = a % b
print("modulo:", modulo_result)

modulo: 2

In [73]:
# Exponent
# The exponent operator (**) raises the first number to the power of the second number.
# For example, 2 ** 3 is 8 because 2 raised to the power of 3 is 8.

base = 2
exponent = 3
exponent_result = base ** exponent
print("Exponent:", exponent_result)  # Output: 8

Exponent: 8

In [74]:
# Floor Division
# The floor division operator (//) divides two numbers and returns the largest integer less than or equal to the result.
# For example, 10 // 3 is 3 because 10 divided by 3 is 3.333, and the floor of 3.333 is 3.

floor_division_result = a // b
print("Floor Division:", floor_division_result)  # Output: 3

Floor Division: 2

In [81]:
# Practice Questions:
# 1. Perform addition, subtraction, multiplication, and division on two numbers.
a = 12
b = 5 
#addition 
add = a + b
print (add)
print("addition of a & b =",add)

#subtraction
a = 12
b = 5 
subtract = a - b
print("subtract of a - b =",subtract)

#multiplication 
a = 12
b = 5
multiply = a * b
print("multiply of a * b=",multiply)

# division 
a = 12
b = 5
divide = a / b
print("divide of a / b=",divide)
# 2. Find the modulus, exponent, and floor division of two numbers.

17
addition of a & b = 17
subtract of a - b = 7
multiply of a * b= 60
divide of a / b= 2.4

### Python Comparison Operators

In [47]:
a = 10
b = 3

In [82]:
# Equal
equal = (a == b)  # False

In [83]:
equal

False

In [85]:
a = 20
b = 3
#Equal 
equal = (a == b)
print(equal)

False

In [87]:
# Not Equal
a = 20
b = 3
not_equal = (a != b)
print(not_equal) # True

True

In [88]:
# Greater than
a = 20
b = 3
greater_than = (a > b)
print(greater_than)# True

True

In [89]:
# Less than
a = 20
b = 3
less_than = (a < b)
print(less_than)# False

False

In [90]:
# Greater than or equal to
a = 20
b = 20
greater_than_equal = (a >= b)
print(greater_than_equal)# True

True

In [92]:
# Less than or equal to
a = 20
b = 30
less_than_equal = (a <= b)
print(less_than_equal)# False

True

In [111]:
# Practice Questions:
# 1. Compare two numbers using all the comparison operators and print the results.
a=30
check =a>=18
print(check)
a = 30
b =18
#Equal
equal = (a == b)
print(equal)

#Not_equal
a = 30
b = 18
not_equal = (a!= b)
print(not_equal)

#greater than
greater_than = (a > b)
print(greater_than)

#less than 
a =30
b =18
less_than =(a<b)
print(less_than)

#greater than or equal to
a = 30
b = 18
greater_than_equal = (a >= b)
print(greater_than_equal)

#less than or equal to
a = 30
b = 18
less_than_equal =(a<=b)
print(less_than_equal)


# 2. Write a program that checks if a number is greater than or equal to 18.

True
False
True
True
False
True
False

### Python Data Types

In [112]:
# Integers
# Integers are whole numbers without a decimal point.
integer = 10
print("Integer:", integer)

# Float
# Floats are numbers that have a decimal point.
floating_point = 10.5
print("Float:", floating_point)

# String
# Strings are sequences of characters enclosed in quotes.
string = "Hello"
print("String:", string)

# Boolean
# Booleans represent one of two values: True or False.
boolean = True
print("Boolean:", boolean)

# List
# Lists are ordered collections of items, which can be of different types. Lists are mutable, meaning you can change their content.
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

# Tuple
# Tuples are ordered collections of items, similar to lists, but they are immutable, meaning you cannot change their content once created.
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)

# Dictionary
# Dictionaries are collections of key-value pairs. Each key is unique and is used to access the corresponding value.
my_dict = {"name": "Alice", "age": 25}
print("Dictionary:", my_dict)

# Set
# Sets are unordered collections of unique items. They are useful for storing items where duplication is not allowed.
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

Integer: 10
Float: 10.5
String: Hello
Boolean: True
List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
Dictionary: {'name': 'Alice', 'age': 25}
Set: {1, 2, 3, 4, 5}

### Python String

In [120]:
# Single quotes
single_quote_string = 'Hello'

# Double quotes
double_quote_string = "World"

# Triple quotes
triple_quote_string = '''Hello 
World'''

In [123]:
# Practice Questions:
# 1. Create a string using single, double, and triple quotes.

single_quotes_string = 'Hi'
print('singel_quote_string:',single_quote_string)

double_quote_string ="world"
print('double_quote_string:',double_quote_string)
tripple_quote_string = ''' Hi world'''
print(triple_quote_string)

singel_quote_string: Hello
double_quote_string: world
Hello
World

### Python String Operations

In [ ]:
string1 = "Hello"
string2 = "World"

In [ ]:
# Concatenation
concat = string1 + " " + string2 + " my foot" + "3" # "Hello World"

In [ ]:
concat

In [ ]:
# Repetition
repeat = string1 * 3  # "HelloHelloHello"

In [ ]:
repeat

In [ ]:
"three " *3

In [ ]:
# Slicing
slice = string1[1:4]  # "ell"

In [128]:
# Length
length = len(string1)  # 5

In [129]:
# Practice Questions:
# 1. Concatenate two strings.
string1 = "olaitan"
string2 = "yekeen"
concat = string1 + "  " + string2 +" my foot" + "3"
# 2. Slice a string from the 2nd to the 4th character.
slice = string1[2:4]
print(slice)
# 3. Find the length of a string
string1 = 'olaitan'
lenght = len(string1)
print(length)

ai
7

In [126]:
concat

'olaitan  yekeen my foot3'

### Type Conversion

In [ ]:
# Integer to String
num = 10
num_str = str(num)  # "10"

In [ ]:
# String to Integer
str_num = "10"
num_int = int(str_num)  # 10

In [ ]:
# Float to Integer
float_num = 10.5
int_num = int(float_num)  # 10

In [ ]:
# Integer to Float
int_to_float = float(num)  # 10.0

In [134]:
# Practice Questions:
# 1. Convert a float to an integer.
float_num = 12.3
int_num=int(float_num)
print(int_num)
# 2. Convert a string to an integer.
str_num = '13'
num_int =int(str_num)
print(str_num)
# 3. Convert an integer to a string.
num = 22
num_str = str(num)
print(num_str)

12
13
22

### Boolean values

In [135]:
is_python_fun = True
is_sky_green = False

In [136]:
# Boolean expressions
bool_expr1 = (10 > 5)  # True
bool_expr2 = (10 < 5)  # False

In [143]:
# Practice Questions:
# 1. Create two boolean variables, one True and one False.
is_earth the rotating = true
can_man give birth    = false
# 2. Write a program that prints the result of a boolean expression (e.g., 10 > 3).
bool_expr 1 =(10 > 3)
bool-expr 2 = (10 < 3)
print(bool_expr 1)
print(bool_expr )

SyntaxError: invalid syntax (1317226013.py, line 3)